<div class="search-wrapper col-md-12">
  <div class="row">
    <div id="filter-panel" class="filter-panel">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline" role="form">
                    <%= form_tag(users_path, :method => "get") do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
                    <%= submit_tag "Search", class: "button-secondary" %>
                    <% end %>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>

<style>
    .button-secondary{
      width: 30%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

</style>
