<div class="col-md-offset-2 col-md-8 down">
  <%= render 'users/search' %>

  <p id="notice"><%= notice %></p>
  <div class="result-wrapper col-md-12">
    <%= render @users %>
  </div>
</div>



<style>

    .down{
        top: 90px;
    }

</style>
