<div class="main-grid">

    <div class="clear-box"></div>

    <div class="header col-100">
        <div class="header-text">
            <h1>combine</h1>
            <h2>The coworking network.</h2>
            <p class='header-paragraph'>Connect with the makers, the entrepreneurs, and the designers of co-working spaces.
                Take a look at what the members of your co-working space are up to and grab coffee with them.
            </p>
        </div>
    </div>

    <div class="clear-box"></div>

    <div class="signup-wrapper col-md-offset-2 col-md-8">
      <%= render 'form', user: @user %>
    <div>
</div>
