// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// simple-grid

* {
    box-sizing: border-box;
}

.grid {
    width: 1000px;
    margin: auto;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

.col-50 {
    width: 50%;
}

.col-25 {
    width: 25%;
}

.col-75 {
    width: 75%;

}

.col-100 {
    width: 100%;
    height: 300px;
    position: relative;
}

.col-33 {
    width: 33.333%;
}

.col-66 {
    width: 66.666%;
}

.col-12 {
    width: 12.5%;
}

[class*='col-'] {
    float: left;
}

p {
    /*margin: 2em;*/
}

.row-spacer {
    height: 2em;
}


// styles

.all-size{
    /*background-color: #4ABDAC;*/
    background: rgba(74, 189, 172, 0.75);
    font-family: "Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif";
}


.header {
    height: 850px;
    background: rgba(74, 189, 172, 0.8);
    color: #F7F7F7;
    text-align: center;
    background-image: url("people-office-group-team.png");
    background-repeat: no-repeat;
}


.header-text{
    width: 80%;
    margin:auto;
    padding: 3em;
    font-family: "Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif";
}
.header-text h1{
  font-size: 1000%;
  top: 5em;

}
.header-text h2{
    font-size: 300%;

}


.header-paragraph{
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: 120%;
    font-weight: lighter;
    letter-spacing: .2px;
    line-height: 1.3;
    color: white;
    font-family: "Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif";
}

.signup{
    font-size: 15px;
}

.border-box{
    position: relative;
    top: 8em;
}

.signup-button{
    background-color: #fffef2;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    top: 350px;
    right: 465px;
    cursor: pointer;
}



.student{
    background: rgba(247, 183, 51, 0.95);
    height: 700px;

}

.alumni{
    background: rgba(252, 74, 26, 0.95);
    height: 700px;

}


.exploration-header{
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 150px;
    color: #4A4A4A;
    font-size: 65px;

}

.alumni-header{
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 150px;
    color: black;
    font-size: 65px;

}

.exploration-text{
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 40px;
    font-size: 25px;
    line-height: 35px;
    color: black;

}

.alumni-text{
    margin-left: 22%;
    margin-right: 22%;
    font-size: 25px;
    color: black;

}

.student {
    /*height: 300px;*/
    position: relative;
    /*background-color: #F7B733;*/
    /*color: #F7F7F7;*/
}

.alumni  {

    position: relative;

    color: #F7F7F7;
}

#tester{
    background-color: #A239CA;
}

#test{

    background-color: #E9C893;
}


.coffee {
    position: absolute;
    width: 100%;
    height: 200px;
    background-image: url('/assets/CoffeeAlumCoffee.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: 25%;
    left: 20%;

}

.navbar-custom {
    background-color: #e74c3c;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

.app-button {
    position: absolute;
    width: 15%;
    height: 50px;
    background-image: url('/assets/app-store-button.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: 85%;
    left: 44%;
}

.button-secondary {
    color: white;
    width: 20%;
    border-radius: 1.5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #1D62F0; /* this is a light blue */
}

.quote-text {
    position: absolute;
    top: 60%;
    left: 8%;
    right: 8%;
    font-size: 40px;
    line-height: 45px;
    color: black;


}

.alumni-quote-text {
    position: absolute;
    top: 30%;
    left: 8%;
    right: 8%;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    color: black;


}



.author{
    position: absolute;
    top: 36%;
    color: black;
    margin-left: 40%;
    margin-top: 220px;
    font-size: 25px;
}


.center-title {
    text-align: center;
}

#nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav a {
    display: block;
    float: right;
    padding: 1em;
    margin: 0.5em;
    text-decoration: none;

}

.title-coffee{
    font-family: 'Open Sans', sans-serif;
    color: #F7F7F7;

}

.title-alum{
    font-family: 'Open Sans', sans-serif;
    color: #F7B733;

}

.clear-box{
    clear:both;
}



/* Needed for Nav styles!!!!!! */
.selected {
    color: white;
    background-color: black
}
